<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Catalog'}}
</head>
<body class="article docs-manuals-catalog docs-cards-layout {{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}

<div class="body">
  {{> nav componentOrder=page.attributes.component-order}}
  <main class="article">
    <div class="toolbar" role="navigation">
      {{> nav-toggle}}
      {{#with site.homeUrl}}
        <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
      {{/with}}
      {{> breadcrumbs}}
    </div>

    <div class="content">
      <article class="doc">
        {{#with @root.page.title}}
          <h1 class="page">{{{this}}}</h1>
        {{/with}}
        {{#with (get-page-cards @root.page 'catalog' false)}}
          {{#if this.length}}
          <h2>Catalog</h2>
          <div class="manuals">
            {{#each this}}
              <div class="manual">{{> page-card this}}</div>
            {{/each}}
          </div>
          {{else}}
            <p>No catalogs found in this component.</p>
          {{/if}}
        {{/with}}
      </article>
    </div>
  </main>
</div>

{{> footer}}
</body>
</html>